.grafica{
    width: 500px;
    height: 300px;
    margin-top: 80px;
}
.s-content-aside{
    width: 20%;
    min-width: 15%;
    z-index: 10;
    position: fixed;
}

.content-grafica{
    display: flex;
}