.p-content-login{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.p-content-image{
    width: 50%;
    height: 100%;
    background-color: blue;
}

.p-content-button{
    width: 50%;
    background-color: blueviolet;
}

.p-box-login{
    background-color: brown;
    width: 50%;
    text-align: center;
}