.p-content-login{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.p-content-image{
    width: 50%;
    height: 100%;
}

.p-content-button{
    width: 50%;
}

.p-box-login{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-top: 150px;
}
.p-parts-login{
    margin-top: 30px;
}