
.a-nav-link {
    float: right;
    color: #ffffff;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    font: normal normal bold 17px/25px Roboto;
    
}
.a-aling{
    margin-top: 9px;
}

a{
    text-decoration: none;
}