.m-content-info{
    width: 100%;
    margin-left: 80px;
    margin-top: 15px;
    h4{
        color: #3D7EA5;
    }
}

.m-content-pagina{
    padding: 0  10px;
}
.space{
    height: 15px;
    width: 100%;
}